

<!-- SIDEBAR DIV -->
<div class="leftNav">
  <div class="sideBarTitle">
    Urban Growth
    <div class="btn sideBar growth" ng-click="goTo('growth', 'description')"
          ng-class="currentRef=='description' ? 'select' : ''">
      Description
    </div>
    <div class="btn sideBar growth" ng-click="goTo('growth', 'maps_growth85')"
          ng-class="currentRef == 'maps_growth85' ||
                    currentRef == 'maps_growth10' ||
                    currentRef == 'maps_growth13' ||
                    currentRef == 'maps_land86' ||
                    currentRef == 'maps_land10' ||
                    currentRef == 'maps_land10' ? 'select' : ''">
      Maps Data
    </div>
    
    <div class="btn sideBar growth" ng-click="goTo('growth', 'devStrat_caracol')"
          ng-class="currentRef=='devStrat_caracol' ||
                    currentRef=='devStrat_limonade' ||
                    currentRef=='devStrat_trou' ||
                    currentRef=='devStrat_terrier' ? 'select' : ''" 
          onclick="swapPlotCard('growthMaps', 'plotCards_caracol')">
      Future Growth
    </div>
    <div class="btn sideBar growth" ng-click="goTo('growth', 'maps_landuse')"
          ng-class="currentRef=='maps_landuse' ||
                    currentRef=='maps_population' ||
                    currentRef=='maps_scenarios' ? 'select' : ''" 
          onclick="swapPlotCard('plotCards', 'plotCards_landuse')">
      Other Analyses
    </div>
  </div>
<!-- 
  <div class="sideBarTitle">
    Maps Data
    <div >
      <div class="subTitle">
        Growth Levels
      </div>
      <a data-slide-index="0">
        <div class="btn sideBar growth" ng-click="goTo('growth', 'maps_growth85')"
              ng-class="currentRef=='maps_growth85' ? 'select' : ''">
          Year: 1985
        </div>
      </a>
      <a data-slide-index="1">
        <div class="btn sideBar growth" ng-click="goTo('growth', 'maps_growth10')"
              ng-class="currentRef=='maps_growth10' ? 'select' : ''">
          Year: 2010
        </div>
      </a>
      <a data-slide-index="2">
        <div class="btn sideBar growth" ng-click="goTo('growth', 'maps_growth13')"
              ng-class="currentRef=='maps_growth13' ? 'select' : ''">
          Year: 2013
        </div>
      </a>

      <div class="subTitle">
        Land Development
      </div>
      <a data-slide-index="3">
        <div class="btn sideBar growth" ng-click="goTo('growth', 'maps_land86')"
              ng-class="currentRef=='maps_land86' ? 'select' : ''">
          Year: 1986
        </div>
      </a>
      <a data-slide-index="4">
        <div class="btn sideBar growth" ng-click="goTo('growth', 'maps_land10')"
              ng-class="currentRef=='maps_land10' ? 'select' : ''">
          Year: 2010
        </div>
      </a>
    </div>
  </div>

  <div class="sideBarTitle">
    Learn More
    <div class="subTitle">
      Urban Centers
    </div>
    <div class="btn sideBar growth" ng-click="goTo('growth', 'devStrat_caracol')"
          ng-class="currentRef=='devStrat_caracol' ? 'select' : ''" 
          onclick="swapPlotCard('growthMaps', 'plotCards_caracol')">
      Caracol
    </div>
    <div class="btn sideBar growth" ng-click="goTo('growth', 'devStrat_limonade')"
          ng-class="currentRef=='devStrat_limonade' ? 'select' : ''" 
          onclick="swapPlotCard('growthMaps', 'plotCards_limonade')">
      Limonade
    </div>
    <div class="btn sideBar growth" ng-click="goTo('growth', 'devStrat_trou')"
          ng-class="currentRef=='devStrat_trou' ? 'select' : ''" 
          onclick="swapPlotCard('growthMaps', 'plotCards_trou')">
      Trou-du-Norde
    </div>
    <div class="btn sideBar growth" ng-click="goTo('growth', 'devStrat_terrier')"
          ng-class="currentRef=='devStrat_terrier' ? 'select' : ''" 
          onclick="swapPlotCard('growthMaps', 'plotCards_terrier')">
      Terrier Rouge
    </div>

    <div class="subTitle">
      Graphs
    </div>
    <div class="btn sideBar growth" ng-click="goTo('growth', 'maps_landuse')"
          ng-class="currentRef=='maps_landuse' ? 'select' : ''" 
          onclick="swapPlotCard('plotCards', 'plotCards_landuse')">
      Land Use
    </div>
    <div class="btn sideBar growth" ng-click="goTo('growth', 'maps_population')"
          ng-class="currentRef=='maps_population' ? 'select' : ''" 
          onclick="swapPlotCard('plotCards', 'plotCards_population')">
      Population
    </div>
    <div class="btn sideBar growth" ng-click="goTo('growth', 'maps_scenarios')"
          ng-class="currentRef=='maps_scenarios' ? 'select' : ''" 
          onclick="swapPlotCard('plotCards', 'plotCards_scenarios')">
      Scenarios
    </div> -->
  </div>
</div>



<!-- context div -->
<div class="beneathMap" id="includedContent" style="">

  <!-- INTERNAL CAN BE SWAPPED -->
  
  <a class="anchor" id="growth_introduction"></a>
  <div class="col-sm-12 cardTop growthColor">
      <div class="col-sm-2"></div>
      <div class="col-sm-10" style="margin-top:30px;margin-bottom:30px">
          <h1 style="font-weight:700;">
              Urban Growth Projections
          </h1>
          <h5>A MULTIPLE SCENARIO APPROACH BASED ON POTENTIAL GROWTH FROM THE INDUSTRIAL PARK IN CARACOL</h5>
      </div>
  </div>

  <div class="col-sm-12 card" id="growth_description">
      <div class="col-sm-2"></div>
      <div class="col-sm-6">
          <h3>Objectives</h3>
              <p>Model the region focusing on identifying ‘suitability’ areas in which development ‘as a whole’ should and should not occur based on a mechanism that combines ‘attraction’ and ‘restriction’ elements that contribute to the rationale of an individual, family or firm’s location decision.</p>
          <h3>Key Activities</h3>
              <p>• Define all the ‘attraction’ and ‘restriction’ data.</p>
              <p>• Identify the historical growth from the region since 1986 and project future territorial growth.</p>
              <p>• Carry out population projections across different growth scenarios and analyze potential spatial distributions and densities.</p>
              <p>• Calculate the historical change of land use.</p>
          <h3>Deliverables</h3>
              <p>• Generate over 100 geospatial layers, to be delivered to Haitian counterparts as well as internal IDB stakeholder.</p>
              <p>• Provide guidelines and recommendations for future growth for the communes closest to the PIC.</p>
              <p>• Offer a summary and complementary analysis of existing planning tools and documents.</p>
      </div>
      <div class="col-sm-4">
          <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-10 cardSideBox" style="margin-left:auto;margin-right:auto">
                  <h4>Full Report</h4>
                  <p>Download the full report by selecting one the language options below.</p>
                  <hr>
                  <p>ENGLISH</p>
                  <p>SPANISH</p>
              </div>
              <div class="col-sm-1"></div>
          </div>
          <div class="row"  style="padding-top:25px">
              <div class="col-sm-1"></div>
              <div class="col-sm-10 cardSideBox" style="margin-left:auto;margin-right:auto">
                  <h4>Report Data</h4>
                  <p>Data and geospatial shapefiles pertaining to this report that have been made available through the below links.</p>
                  <hr>
                  <p>MAP IMAGES</p>
                  <p>GIS SHAPEFILES</p>
                  <p>DATABASE FILES</p>
              </div>
              <div class="col-sm-1"></div>
          </div>
      </div>
  </div>

  <!-- MAPS BXSLIDER DIV -->
  <div class="row">

    <a id="growth_maps_growth85"></a>
    <a id="growth_maps_growth10"></a>
    <a id="growth_maps_growth13"></a>
    <a id="growth_maps_land86"></a>
    <a id="growth_maps_land10"></a>

      <div class="col-sm-2"></div>
      <div class="col-sm-2 plotCard-hdr">
          <small>Growth + Land Development</small>
          <br> Maps Data
      </div>
      <div class="row" id="bx_slider02" class="top_slider">
        <a data-slide-index="4" class="btn btn-xs btn-plotCards" ng-click="goTo('growth', 'maps_land10')"
                ng-class="currentRef=='maps_land10' ? 'select' : ''">
            <small>Development</small>
             <br> 2010
            
        </a>
        <a data-slide-index="3" class="btn btn-xs btn-plotCards" ng-click="goTo('growth', 'maps_land86')"
                ng-class="currentRef=='maps_land86' ? 'select' : ''">
            <small>Development</small>
             <br> 1986
            
        </a>

        <a data-slide-index="2" class="btn btn-xs btn-plotCards" ng-click="goTo('growth', 'maps_growth13')"
                ng-class="currentRef=='maps_growth13' ? 'select' : ''">
            <small>Growth</small>
             <br>2013

        </a>
        <a data-slide-index="1" class="btn btn-xs btn-plotCards" ng-click="goTo('growth', 'maps_growth10')"
                ng-class="currentRef=='maps_growth10' ? 'select' : ''">
            <small>Growth</small>
             <br>2010

        </a>
        <a data-slide-index="0" class="btn btn-xs btn-plotCards" ng-click="goTo('growth', 'maps_growth85')"
                ng-class="currentRef=='maps_growth85' ? 'select' : ''">
            <small>Growth</small>
             <br>1985

        </a>
      </div>
  </div>
  <div class="row bx_maps">
      <a class="anchor" id="maps"></a>
      <div class="bxslider">
          <ul class="bxslider" id='slider02'>
              <li class='slider_img'>
                <img src="maps/growth/growth_1985.png"  title="1985 Growth Levels"/>
              </li>
              <li class='slider_img'>
                <img src="maps/growth/growth_2010.png"  title="2010 Growth Levels"/>
              </li>
              <li class='slider_img'>
                <img src="maps/growth/growth_2013.png"  title="2013 Growth Levels"/>
              </li>
              <li class='slider_img'>
                <img src="maps/growth/landuse_1986.png" title="1986 Land Development"/>
              </li>
              <li class='slider_img'>
                <img src="maps/growth/landuse_2010.png" title="2010 Land Development"/>
              </li>
          </ul>
      </div>
  </div>

  <a id='growth_devStrat_terrier'></a>
  <a id='growth_devStrat_trou'></a>
  <a id='growth_devStrat_limonade'></a>
  <a id='growth_devStrat_caracol'></a>

  <div class="col-sm-2"></div>
  <div class="col-sm-2 plotCard-hdr">
      Future Growth Strategy
  </div>
  <div class="row">
      <a class="btn btn-xs btn-plotCards" onclick="swapPlotCard('growthMaps', 'plotCards_terrier')" 
          ng-click="goTo('growth', 'devStrat_terrier')"
          ng-class="currentRef=='devStrat_terrier' ? 'select' : ''">
          Terrier Rouge
      </a>
      <a class="btn btn-xs btn-plotCards" onclick="swapPlotCard('growthMaps', 'plotCards_trou')"
          ng-click="goTo('growth', 'devStrat_trou')"
          ng-class="currentRef=='devStrat_trou' ? 'select' : ''">
        Trou-du-Nord
      </a>
      <a class="btn btn-xs btn-plotCards" onclick="swapPlotCard('growthMaps', 'plotCards_limonade')"
          ng-click="goTo('growth', 'devStrat_limonade')"
          ng-class="currentRef=='devStrat_limonade' ? 'select' : ''">
        Limonade
      </a>
      <a class="btn btn-xs btn-plotCards" onclick="swapPlotCard('growthMaps', 'plotCards_caracol')"
          ng-click="goTo('growth', 'devStrat_caracol')"
          ng-class="currentRef=='devStrat_caracol' ? 'select' : ''">
        Caracol
      </a>
  </div>

  <div id="growthMaps">
    <div class="col-sm-12 darkCard" id="plotCards_caracol">
      <div class="col-sm-2"></div>
      <div class="col-sm-2">
          <h2>Caracol</h2>
          <div class="dataList_growth">
              <p>Caracol comprises an urban area of 43ha where 51% is in a flood area and 49% is outside. The land available for future development only represents 8.11ha. Due to its condition it is important to prevent any expansion of the township and it must be consider to apply an urban suitaitable land use model adding 2ha of roads creating a public space realm of open spaces and wooded areas of 13ha doubling the area for institutional and commercial activities, and setting aside 2ha of land for other productive activities, in terms of residential surface the township could only allocate 18 ha.</p>
          </div>
      </div>
      <div class="col-sm-8">
          <img src="maps/growth/gis/caracol.png"  style="width:100%"/>
      </div>
    </div>

    <div class="col-sm-12 darkCard" id="plotCards_limonade" hidden>
      <div class="col-sm-2"></div>
      <div class="col-sm-2">
          <h2>Limonade</h2>
          <div class="dataList_growth">
              <p>Limonade comprises an urban area of 155ha, 19% is contained in the flood area and 81% is outside. 72ha from the available land can be developed in the future with a sustaintable urbanization model comprised of 31ha for roads, public spaces, natural or naturalized areas; 30ha for residential uses (in which small scale commerce and other complementary uses are included); 7.2ha for institutional and commercial uses and 2.1ha for other, industry-relateduses.</p>
          </div>
      </div>
      <div class="col-sm-8">
          <img src="maps/growth/gis/limonade.png"  style="width:100%"/>
      </div>
    </div>

    <div class="col-sm-12 darkCard" id="plotCards_trou" hidden>
      <div class="col-sm-2"></div>
      <div class="col-sm-2">
          <h2>Trou-du-Nord</h2>
          <div class="dataList_growth">
              <p>Trou-du-Nord has 212.91 ha of urban areas 28% is in flood area and 72% is outside leaving 63 ha available for future development which in a sustainable urbanization model for land use would comprise of 45% for roads, public spaces, natural or naturalized areas; 42% for residential uses (in which small scale commerce and other complementary uses are included); 10% for institutional and commercial uses and 3% for other, industry-relateduses. </p>
          </div>
      </div>
      <div class="col-sm-8">
          <img src="maps/growth/gis/troudunord.png"  style="width:100%"/>
      </div>
    </div>

    <div class="col-sm-12 darkCard" id="plotCards_terrier" hidden>
      <div class="col-sm-2"></div>
      <div class="col-sm-2">
          <h2>Terrier Rouge</h2>
          <div class="dataList_growth">
              <p>Terrier Rouge has an urban area of 130ha where 2% is in the flood area and 98% is outside the risk zone. Its empty land for future development represents 53.7% of the total urban area and with a sustaintable urbanization model it could be developed 25ha for roads, public spaces, natural or naturalized areas; 24.2ha for residential uses (in which small scale commerce and other complementary uses are included); 5.3ha for institutional and commercial uses and 1.73ha for other, industry-relateduses. </p>
          </div>
      </div>
      <div class="col-sm-8">
          <img src="maps/growth/gis/terrierrouge.png"  style="width:100%"/>
      </div>
    </div>
  </div>

  <div class="col-sm-12 darkCard">
      <div class="col-sm-5 pull-right" >
          <img src="maps/growth/gis/key.png"  style="width:100%"/>
      </div>
      <div class="col-sm-3 pull-right" style="padding-top:10px">
          <span style="font-size:0.8em;font-style:italic;">
              <p>Above maps generated to provide spatial understanding of development patterns at each site as they relate the areas within which sustainable development can occur.</p>
          </span>
          </span>
      </div>
  </div>

  <div class="row">

    <a id="growth_maps_scenarios"></a>
    <a id="growth_maps_population"></a>
    <a id="growth_maps_landuse"></a>

    <div class="col-sm-2"></div>
    <div class="col-sm-2 plotCard-hdr">
        Other Analyses
    </div>
    <div class="row">
        <a class="btn btn-xs btn-plotCards" onclick="swapPlotCard('plotCards', 'plotCards_scenarios')"
            ng-click="goTo('growth', 'maps_scenarios')"
            ng-class="currentRef=='maps_scenarios' ? 'select' : ''">
          Scenarios
        </a>
        <a class="btn btn-xs btn-plotCards" onclick="swapPlotCard('plotCards', 'plotCards_population')"
            ng-click="goTo('growth', 'maps_population')"
            ng-class="currentRef=='maps_population' ? 'select' : ''">
          Population
        </a>
        <a class="btn btn-xs btn-plotCards" onclick="swapPlotCard('plotCards', 'plotCards_landuse')"
            ng-click="goTo('growth', 'maps_landuse')"
            ng-class="currentRef=='maps_landuse' ? 'select' : ''">
          Land Use
        </a>
    </div>

    
    <a class="anchor" id='graphs'></a>
    <div id="plotCards">
        <div class="col-sm-12 darkCard" id="plotCards_landuse">
            <div class="col-sm-2"></div>
            <div class="col-sm-2 textContainer">
                <h2>Land Use</h2>
                <p>An analysis of land use evolution from years 1986 to 2010.</p>
            </div>
            <div class="col-sm-8">
                <img src="maps/growth/graphs/landchage.png"  style="width:100%"/>
            </div>
        </div>

        <div class="col-sm-12 darkCard" id="plotCards_population" hidden>
            <div class="col-sm-2"></div>
            <div class="col-sm-2 textContainer">
                <h2>Population</h2>
                <p>A multiple scenario approach to population projections. The scenarios present a detailed analysis of the population of the area study in order to understand the dynamics in place and better predict the impact of development projects and investments and future needs.</p>
            </div>
            <div class="col-sm-8">
                <img src="maps/growth/graphs/pop_projection.png"  style="width:100%"/>
            </div>
        </div>

        <div class="col-sm-12 darkCard" id="plotCards_scenarios" hidden>
            <div class="col-sm-2"></div>
            <div class="col-sm-2 textContainer">
                <h2>Scenarios</h2>
                <p>The ‘smart’ growth scenario results from the instance in which, attractions and restrictions are ‘maximized’. The computational process selects and creates a hierarchy of all areas with the highest degree of attraction from factors that have been classified as such. It discards areas affected or controlled by factors that ought to restrict settlement.</p>
            </div>
            <div class="col-sm-8">
                <img src="maps/growth/graphs/model_overlap.png"  style="width:100%"/>
            </div>
        </div>
    </div>
  </div>
</div>

<div ng-include="'maps/footer.html'"></div>


<script>
  $('#slider02').bxSlider({
      mode: 'fade',
      captions: true,
      pagerCustom: '#bx_slider02'
  });
</script>

