


<!-- SIDEBAR DIV -->
<div class="leftNav">
  <div class="sideBarTitle">
    Introduction
    <div class="btn sideBar survey" ng-click="goTo('survey', 'description')"
          ng-class="currentRef=='description' ? 'select' : ''">
      Description
    </div>
  </div>

  <div class="sideBarTitle">
    Maps Data
    <div id="bx_slider03" class="top_slider" ng-click="goTo('survey', 'maps')">
      <div class="subTitle">
        Survey Scope
      </div>
      <a data-slide-index="0">
        <div class="btn sideBar survey" ng-click="goTo('survey', 'maps')"
              ng-class="currentRef=='maps' ? 'select' : ''">
          Survey Results
        </div>
      </a>
    </div>
  </div>
</div>


<div class="beneathMap" id="includedContent">

  <div class="row">
      <div class="row">
          <div class="col-sm-12 cardTop surveyColor">
              <div class="col-sm-2"></div>
              <div class="col-sm-10" style="margin-top:30px;margin-bottom:30px">
                  <h1 style="font-weight:700;">
                      Survey Plus: Data Collection Strategy
                  </h1>
                  <h5>IMPLEMENTATION OF SOCIO-DEMOGRAPHIC & PUBLIC OPINION SURVEY</h5>
              </div>
          </div>
      </div>

      <div class="row" id="survey_description">
          <div class="col-sm-12 card">
              <div class="row">
                  <div class="col-sm-6 col-sm-offset-2">
                      <h3>Note</h3>
                          <p>Results pending completion of report. The below outlines present strategies for data acquisition and the state of completion for the report.</p>
                      <h3>Objectives</h3>
                          <p>Understand local conditions of each community to face the challenges the Rural Urban Continuum has the regional analysis through a “Survey Plus” implementation to collect basic socio-demographic data, information on risk preparedness and vulnerability as well as public opinion.</p>
                      <h3>Key Aspects</h3>
                          <p>• Random sampling in both urban and rural areas.</p>
                          <p>• 45 - 60 minute questionnaire per household, including modules on public opinion.</p>
                          <p>• Survey design by IDB specialists,  risk assessment team, IDB specialists & local stakeholders through pilot.</p>
                          <p>• Sample and questionnaire design tailored to enable future economic impact assessment.</p>
                      <h3>Status</h3>
                          <p>• Fieldwork started in January of 2015.</p>
                          <p>• Tabulation to occur in April of 2015.</p>
                  </div>
                  <div class="col-sm-4">
                      <div class="row"  style="padding-top:25px">
                          <div class="col-sm-1"></div>
                          <div class="col-sm-10 cardSideBox" style="margin-left:auto;margin-right:auto;background-color:rgba(235,244,238,1)">
                              <img src="maps/survey/graphs/diagram.png"  style="width:100%"/>
                          </div>
                          <div class="col-sm-1"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>


  <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-2 plotCard-hdr">
          Maps Data
      </div>
  </div>
  <div class="row bx_maps" id="survey_maps">
    <div class="bxslider">
      <ul class="bxslider" id='slider03'>
        <li class='slider_img'><img src="maps/survey/conditions.png" title="Overview of results from Living Conditions and Social Development Survey in Northern Haiti."/></li>
      </ul>
    </div>
  </div>

  <!-- END OF SWAPPED SECTION -->

</div>

<div ng-include="'maps/footer.html'"></div>



<script>
  $('#slider03').bxSlider({
    mode: 'fade',
    captions: true,
    pagerCustom: '#bx_slider03'
  });
</script>
